---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    name: string;
    href: string;
    imageUrl: string;
    role: string;
}

const { href, name, imageUrl, role } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpeg,jpg,png,gif}');
if (!images[imageUrl]) throw new Error(`"${imageUrl}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);

---

<div class="committee-member">
    <div class="profile-image">
        <Image src={images[imageUrl]()} alt={`${name}'s profile picture`} style="border: 1px solid var(--darkercolor);" />
    </div>
    <div class="member-info">
        <p><a href={href}>{name}</a> - <span class="role">{role}</span></p>
        <div class="bio">
            <slot />
        </div>
    </div>
</div>
<hr>

<style>
    .committee-member {
        display: flex;
        margin-bottom: 2rem;
    }
    .profile-image {
        flex: 0 0 150px;
        margin-right: 1.5rem;
    }
    .profile-image img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    .member-info {
        flex: 1;
    }
    h3 {
        margin: 0 0 0.5rem 0;
    }
    .role {
        font-style: italic;
        margin-bottom: 1rem;
    }
    @media (max-width: 700px) {
        .committee-member {
            flex-direction: column;
        }
        .profile-image {
            width: 100%;
            max-width: 200px;
            margin: 0 auto 1rem auto;
        }
    }
</style>